.widget{
    height:50px;
    width:50px;
    margin-left: 80vw;
    padding:2px;
}

.direction{
    display: flex;
    flex-direction: row;
}

.length{
    font-size: 30px;
    margin-left: 1vw;
    color: white;
    background-color: rgb(255, 68, 0);;
    border-radius: 25%;
    padding: 3px;
}