.Card{
    margin: 5vh;
    background-color:rgb(255, 162, 129);
    border-radius: 5%;
    padding: 5px;
}

.CardImg{
    padding: 5px;
    border-radius: 5%;
}

.Detail{
    width: 50vw;
}

.Button{
    margin: 2px;
    background-color: rgb(255, 68, 0);
}

.Button:hover{
    background-color: rgb(250, 113, 64);
}