.navbar{
    padding: 0;
    margin:0;
}

.container{
    padding:0;
    margin:0;
}

.container-fluid{
    width:fit-content;
    padding:0;
}

.Link{
    text-decoration: none;
    color: #212529;
    font-weight: bold;
    margin-right:2vw;
    margin-left:2vw;
}

.Link:hover{
    border-style: groove;
    border-color: black;
}

.Contact{
    margin-left: 37vw;
}