.logo{
    margin-top: 2vh;
    height: 100px;
    width: auto;
    align-items: center;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    color: #212529;
}

header{
    background-color: rgb(255, 162, 129);
    padding-bottom: 1vh;
    text-align: center;
    text-decoration: none;
    width: 100vw;
    padding-top: 0;
    margin-top: 0;
}

a{
    color: #212529;
    text-decoration: none;
}

a:hover{
    color: #212529;
}